:root {
  /* Brand colors */
  --primary-color: #C68B59; 
  --secondary-color: #3A2618;
  --accent-color: #8FAF9A;
  --accent-color-2: #F2B705; 
  --dark-color: #19110b;
  --gradient-color: #4a3526;
  --gradient-color-2: #5c4432;

  /* Base colors */
  --background-color: #0A0A0A;
  --text-color: #E4E0E1;
  --card-color: #1F140C;  

  /* Interaction */
  --hover-color: #D9A066;  
  --success-color: #43A047;  
  --danger-color: #dc3545;
  --border-color: #ffffff1a;
  --desc-color: #b0b0b0;
}
body {
  background-color: var(--dark-color);
  overflow-x: hidden;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fredoka", sans-serif;
  font-weight: 500;
}
section, header, footer, main {
  background-color: var(--background-color);
}
html a {
  text-decoration: none;
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  transition: opacity 0.5s ease;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-spinner {
  display: inline-block;
  vertical-align: middle;
  fill: var(--primary-color);
}

.title {
  font-weight: 800;
  font-size: 48px;
  color: var(--text-color);
}
.desc {
  letter-spacing: 1px;
  color: var(--desc-color);
  font-size: 14px;
}

@media(max-width:767px) {
  .title {
    font-size: 38px;
  }
}

/*  Navbar  */

#nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  height: 70px;
  background-color: #00000075;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0 1rem;
}
body.light-mode #nav {
  background-color: #ffffff75;
}
.logo {
  letter-spacing: 1px;
  font-family: "EB Garamond", serif;
  font-size: 30px;
  font-weight: 900;
  color: var(--primary-color);
  transition: color 0.3s ease;
  
}
@media(max-width:1025px) {
  .logo {
    font-size: 20px;
    padding-right: 20px;
  }
  .nav-links {
    font-size: 14px;
  }
}
.logo:hover {
  color: var(--secondary-color);
}

.nav-links-container {
  display: flex;
  align-items: center;
}
.nav-links-container * {
  letter-spacing: 1px;
}
.nav-links {
  margin-right: 45px;
  position: relative;
  transition: all 0.3s ease;
  color: var(--text-color);
}
.nav-links:hover, .active:hover {
  color: var(--text-color);
}
.active {
  font-weight: 800;
  font-size: 18px;
  margin-right: 45px;
  position: relative;
  transition: all 0.3s ease;
  color: var(--text-color);
}
.active::after {
  content: '';
  position: absolute;
  bottom: -5px;
  height: 2px;
  left: 0;
  right: 0;
  background-color: var(--text-color);
  transition: all 0.3s ease;
}
.active:hover {
  transform: translateY(-2px);
}
.nav-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: var(--text-color);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}


.nav-links:hover::after {
  width: 100%;
}
.glitch-button {
  color: var(--background-color);
  margin-right: 45px;
  padding: 10px 15px;
  background-color: var(--primary-color);
  position: relative;
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 1;
}

.glitch-button:hover {
  background: var(--hover-color);
  color: var(--background-color);
  }

.nav-heart-svg {
  fill: var(--background-color);
  width: 34px;
  height: 34px;
  background-color: var(--secondary-color);
}

/* Sidebar CSS */
.sidebar .container-fluid {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.sidebar-button {
  color: var(--text-color) !important;
  background-color: var(--primary-color) !important;
  border: none !important;
}
.sidebar .row {
  margin-left: -5px;
  margin-right: -5px;
}

.sidebar [class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}

.hearted-items-container::after {
  content: attr(data-count);
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: var(--danger-color);
  color: white;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  font-size: 12px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger-menu {
  fill: var(--text-color);
  height: 40px;
  width: 40px;
  cursor: pointer;
  flex-shrink: 0;
}
.sidebar * {
  letter-spacing: 1px;
}
.sidebar {
  position: fixed;
  height: calc(100vh - 70px);
  right: 0;
  left: 0;
  top: 70px;
  background-color: #00000075;
  border-bottom: 1px solid var(--border-color);
  display: none;
  z-index: 999;
  transition: none;
  overflow-y: scroll;
}
body.light-mode .sidebar {
  background-color: #ffffff75;
}
.sidebar-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.sidebar-links:hover {
  color: var(--text-color);
}

.sidebar-link, .sidebar-button {
  color: var(--background-color);
  background-color: var(--text-color);
  border: var(--text-color) 1px solid;
  width: 90%;
  margin-top: 20px;
  padding: 20px;
  position: relative;
  transition: all 0.3s ease;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  clip-path: var(--shape);
}

.sidebar-link::after, .sidebar-button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 50%;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.sidebar-link:hover, .sidebar-button:hover {
  transform: translateY(-2px);
}

.sidebar-link:hover::after, .sidebar-button:hover::after {
  width: 100%;
}

.sidebar-button {
  background-color: var(--secondary-color);
  color: var(--background-color);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* Header */
#header {
  background: linear-gradient(
  to top left,
  var(--dark-color) 0%,
  var(--gradient-color) 180%
);


  width: 100%;
  min-height: 100vh;
}
@media(max-width:800px) {
  #header {
    padding-top: 100px;
    min-height: 150vh;
  }
  .coffee-container {
    display: none;
  }
  
}
.banner-logo {
  color: var(--primary-color);
  font-size: 80px;
  font-weight: 900;
  font-family: "EB Garamond", serif;
}

.banner-headline {
  font-size: 29px;
  color: var(--text-color);
}
@media(max-width:767px) {
  .banner-logo {
    font-size: 60px;
  }
  .banner-headline {
    font-size: 20px;
    padding-bottom: 30px;
  } 
}
.img-fluid {
  width: 520px;
}
.image-wrapper {
  position: relative;
  display: inline-block; /* shrink to fit image */
}

.image-wrapper::before {
  content: "";
  position: absolute;
  width: 350px;        
  height: 350px;
  background: rgba(198, 139, 89, 0.5)  ;
  border-radius: 50%;         
  filter: blur(80px);    
  top: 50%;               
  left: 50%;                
  transform: translate(-50%, -50%);
  z-index: 0;                  
}

.image-wrapper img {
  position: relative;
  z-index: 1;
}
.img-container {
  padding-top: 80px;
}
/*.coffee-container {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
}

#header {
  position: relative;
}

#header .row {
  min-height: 100vh;
  height: auto;
}

#header .col-lg-6 {
  min-height: 100vh;
}

.coffee-container img.coffee-bottom {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  mask-image: linear-gradient(to bottom, transparent 0%, black 50%, black 50%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 50%, black 50%, transparent 100%);
}*/
.cta-buttons-container {
  flex-direction: row;
}
.cta-button {
  color: var(--background-color);
  padding: 10px 15px;
  background-color: var(--text-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
  transition: background-color 0.3s ease;
}
.cta-button-2 {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 15px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
  position: relative;
}
.cta-button-2:hover {
  background-color: var(--hover-color);
}
.cta-button:hover {
  background-color: white;
}
.banner-bean {
  position: absolute;
  width: 150px;
  z-index: -5;
  transform: rotate(-45deg);
  left: -65px;
  top: -20px;
}
.coffee-cta-bean, .coffee-cta-bean-1 {
  position: absolute;
  width:60px;
  top: -7px;
  transform: rotate(45deg);
  right: -35px;
  transition: all 0.3s ease;
}
.cta-button-2:hover .coffee-cta-bean {
  transform: rotate(45deg) translateY(-3px) scale(1.1);
}
.cta-button:hover .coffee-cta-bean-1 {
  transform: rotate(45deg) translateY(-3px) scale(1.1);
}

/*.cta-button-2:hover .button-bg, .cta-button-2:hover .btn-text {
  transform: translateY(-3px);
}
.cta-button-2 {
  position: relative;
  background: none;
  border: none;
  transition: transform 0.3s ease;
}
.button-bg {
  width: 80px;
  position: absolute;
  z-index: -5;
  left: -15px;
  top: -18px;
  transition: transform 0.3s ease;
}
.btn-text {
  z-index: 2;
  color: white;
  transition: transform 0.3s ease;
}*/

.section-title {
  font-family: "EB Garamond", serif;
  color: var(--text-color);
  font-weight: 700;
  font-size: 60px;
}
#best-sellers {
  background-color: var(--dark-color);
  padding-top: 50px;
}
.split-line {
  background-color: var(--primary-color);
  height: 4px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin-top: 8px;
}
.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.swiper-slide {
  background-color: var(--secondary-color);
  background: linear-gradient(to top, var(--secondary-color), var(--gradient-color-2));
  height: 400px;
  color: var(--text-color);
  border-radius: 20px;
  position: relative;
  padding-top: 10px;
  width: 90%;
}
.card-title {
  font-size: 25px;
  font-family: "EB Garamond", serif;
  font-weight: 700;
}
.card-text {
  font-weight: 400;
  padding-top: 20px;
  color: var(--desc-color);
}
.card-image-wrapper {
  width: 90%;        /* desired width */
  height: 200px;     /* desired height */
  overflow: hidden;
  margin: 0 auto;    /* center horizontally in card */
  border-radius: 14px;
}

.card-image-top {
  width: 100%;
  height: 100%;
  object-fit: cover;        /* fills container while keeping aspect ratio */
  object-position: center;  /* center of the image will appear */
}
.view-all-btn {
  position: relative;
  color: var(--text-color);
  padding: 10px 15px;
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: 22px;
  transition: all 0.15s ease;
}
.best-sellers-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.view-all-btn:hover .coffee-cta-bean {
  transform: rotate(45deg) translateY(-3px) scale(1.1);
}
.view-all-btn:hover {
  color: var(--text-color);
  background-color: var(--hover-color);
}

#about {
  background-color: var(--dark-color);
  height: 100vh;
  width: 100%;
  padding-top: 60px;
  overflow-x: hidden;
}
.about-title {
  font-size: 100px;
  color: var(--text-color);
  font-weight: 900;
  font-family: "EB Garamond", serif;
  line-height: 100px;
  letter-spacing: 20px;
}
.about-title-md {
  font-size: 40px;
  color: var(--text-color);
  font-weight: 900;
  font-family: "EB Garamond", serif;
  letter-spacing: 20px;
}
@media(max-width:1000px) {
  .about-title {
    font-size: 60px;
  }
}
@media(max-width:800px) {
  #about {
    height: auto;
    min-height: unset;
    padding-bottom: 40px;
    overflow: visible;
  }
  .about-title {
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
  }
  .about-img {
    margin-top: 30px;
    max-width: 100%;
    width: 100%;
  }
  .about-img-2 {
    margin-top: 10px;
  }
  .about-subtitle-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 10px;
  }
  .col-md-3 {
    text-align: center;
  }
  .about-subtitle {
    padding-top: 20px;
  }
  .about-subtitle-desc {
    padding-bottom: 10px;
  }
}
.about-img {
  max-width: 90%;
  border-radius: 20px;
}
.about-subtitle {
  color: var(--primary-color);
  font-family: "EB Garamond", serif;
  text-align: center;
  letter-spacing: 3px;
  font-size: 22px;
  font-weight: 900;
  padding-top: 50px;
}
.about-subtitle-2 {
  color: var(--primary-color);
  font-family: "EB Garamond", serif;
  text-align: center;
  font-weight: 900;
  font-size: 22px;
  letter-spacing: 3px;
  padding-top: 50px;
}
.about-subtitle-container {
  width: 90%;
}
.about-subtitle-desc {
  color: var(--desc-color);
  padding-top: 10px;
  max-width: 100%;
  text-align: center;
}

#reviews {
  min-height: 100vh;
  background-color: var(--dark-color);
  padding-bottom: 50px;
}
.review-card-gradient {
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(to bottom, var(--secondary-color), var(--gradient-color-2));
  box-shadow: 0px 12px 32px rgba(187, 95, 15, 0.15);
}
.review-card {
  width: 100%;
  height: 450px;
  /*background-color: var(--secondary-color);*/
  background: linear-gradient(to top, var(--secondary-color), var(--gradient-color-2));
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-picture {
  width: 100px;
  border-radius: 100%;
}
.review-name {
  color: var(--text-color);
  font-size: 25px;
  font-weight: 600;
  
}
.review-desc {
  color: var(--desc-color);
  font-style: italic;
}
.review-rating {
  font-size: 30px;
  color: var(--accent-color-2);
    text-shadow: 0 1px 3px var(--accent-color-2);
}
.rating-container {
  height: 100%;
  display: flex;
  padding-bottom: 30px;
  align-items: end;
}
@media(max-width:767px) {
.reviews-title {
  font-size: 35px;
}
}
#reviews .split-line {
  width: 150px;
}
.split-line-us {
  background-color: var(--primary-color);
  height: 4px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
#map {
  padding-bottom: 50px;
  background-color: var(--dark-color);
}
.split-line-map {
  background-color: var(--primary-color);
  height: 4px;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  margin-top: 90px;
  position: absolute;
}
.map-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 50px;
}
.map-container {
  width: 95%;
  background: linear-gradient(to top, var(--secondary-color), var(--gradient-color-2));
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.map-iframe {
  height: 500px;
  width: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.visit-guide {
  color: var(--text-color);
}
.tips-title {
  font-weight: 800;
  text-align: center;
  font-size: 40px;
}
.tips-desc {
  color: var(--desc-color);
  font-weight: 400;
}
.tip-title {
  font-weight: 500;
}